# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environment
venv/
.env/

# Logs and databases
*.log
data/progression.log

# Pytest cache
.pytest_cache/

# VSCode settings
.vscode/

# macOS
.DS_Store
